{% extends 'navbar.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="header-noticias">
        <h1>Página Noticias</h1>
        <p>DIICC</p>
    </div>

    <div class="muro-noticias">
    {% for noticia in noticias %}
        <div class="tarjeta-noticia">
            
            {% if noticia.image %}
                <img class="tarjeta-bg" src="{{ noticia.image.url }}" alt="{{ noticia.title }}">
            {% endif %}
            
            <div class="tarjeta-overlay"></div>
            
            <div class="tarjeta-content">
                <h3>{{ noticia.title }}</h3>
                <p class="resumen">{{ noticia.summary }}</p>
                
                <details class="leer-mas-container">
                    <summary class="btn-leer-mas">
                        Leer Mas <span class="btn-icon">➔</span>
                    </summary>
                    <div class="modal-content">
                        <h4>{{ noticia.title }}</h4>
                        <p>{{ noticia.content }}</p>
                        <div class="cerrar-hint">Vuelve a hacer clic en "Leer Mas" para cerrar</div>
                    </div>
                </details>
            </div>
            
        </div>
    {% endfor %}
    </div>
{% endblock %}