<!DOCTYPE html>
<html>
<head>
    <title>CEAL - DIICC</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/Calendario-Academico/">Calendario</a>
         | <a href="/Tablero-de-Ayudas-Academicas/">Ayuda Academica</a>
         | <a href="/Recursos-Academicos">Recursos Academicos</a>
         | <a href="/Tablero-de-Proyectos-y-Practicas/">Projectos y Practicas</a>
         | <a href="/Noticias/">Noticias</a>
         | <a href="/Sobre-Ingenieria-Civil-en-Computacion-e-Informatica/">Sobre la carrera</a>
         | <a href="/Sobre-el-Ceal/">Sobre el CEAL</a>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>